*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --font-color: #645CBB;
    --background-color:#002057;
    --font-second-size:2rem;
    --font-first-size:1.2rem;
    --logo-color:#fff;
    --main-font-color:#FF8A00;
    --ions-color:#645CBB;

    --inside-button-color:#171921;
    --each-card-backgroundcolor:lightblue;
    

}

body {
    font-size: var(--font-size);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}
.logo-l{
    display: flex;
    align-items: baseline;
}
.background-color {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    background-color: var(--each-card-backgroundcolor); /* Initial color */
    border: 5px solid #ccc;
    cursor: pointer;

}

.background-color:active {
    background-color:var(--main-font-color); 
}


header {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background-color: var(--inside-button-color);
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;

    position: fixed;
    top: 0;
    z-index: 100;
}

.logo {
    color:var(--logo-color);
    font-size: 2rem;
    font-weight: bold;
}
.logo-l i{
    color: var(--logo-color);
    font-size:3rem;
    
}
.sai {
    color: var(--font-color);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    margin-right: 3px;
}

nav ul li a {
    color: var(--font-color);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    
}

nav ul li a:hover,
nav ul li a.active {
    background-color:var(--font-color);
    color:var(--logo-color);
}

/* Hamburger Menu */
.checkbtn {
    font-size: 30px;
    color:var(--font-color);
    cursor: pointer;
    display: none;
}

#checks {
    display: none;
}
nav ul li a {
    color: var(--logo-color);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    position: relative; 
    overflow: hidden; 
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px; 
    background-color: var(--main-font-color); 
    transition: width 0.3s ease;
}
nav ul li a:hover::after {
    width: 100%; 
}



nav ul li a:hover,
nav ul li a.active {
    background-color: var(--font-color);
    color:var(--logo-color);
}


/* Responsive Styles */
@media (max-width: 870px) {
    .nave-left{
        position: fixed;
        left:0;
        width: 100%;
        background-color: var(--logo-color);
        box-shadow: inset 0px 0px 90px 70px #e9eaf0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        transform: translatey(0); 
    }
    .checkbtn {
        display: block;
    }
    
    nav ul {
        display: none;
        position: fixed;
        top: 15vh;
        right: 0;
        width:100%;
        flex-direction: column;
        text-align: center;
        z-index: 100;
        padding-bottom: 20px;
       
    }

    #checks:checked ~ ul {
        display: flex;
    }

    nav ul li {
        margin: 20px 0;
    }

    nav ul li a {
        color: var(--font-color);
        font-size: 1.2rem;
    }

    nav ul li a:hover {
        background-color: var(--font-color);
        color: var(--logo-color);
    }  
      
}





/*Home section related  */


/* background animation  */
.orbit-container {
    height: 100vh;
    width: 90%;
    display: flex;
    position: absolute;
    overflow: hidden; 
}

.orbit {
    height: 110px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 20px;
}

.orbit1 {
    height: 100px;
    width: 100px;
    box-shadow: inset 5px 10px 10px 25px black;
    background-color: #fff;
    border-radius: 50%;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: suna 5s linear infinite;
}

.orbits {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: aqua;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    box-shadow:inset 0px 5px 10px 10px black;
}


.orbit2 { animation: orb2 9s infinite; }
.orbit3 { animation: orb3 12s infinite; }
.orbit4 { animation: orb4 9s infinite; }
.orbit5 { animation: orb5 12s infinite; }
.orbit6 { animation: orb6 9s infinite; }
.orbit7 { animation: orb7 12s infinite; }
.orbit8 { animation: orb8 9s infinite; }

@keyframes suna {
    from { transform: rotate(0deg) translate(10px); }
    to { transform: rotate(360deg) translate(10px); }
}

@keyframes orb2 {
    from { transform: rotate(0deg) translate(300px); }
    to { transform: rotate(360deg) translate(300px); }
}

@keyframes orb3 {
    from { transform: rotate(0deg) translate(450px); }
    to { transform: rotate(360deg) translate(450px); }
}

@keyframes orb4 {
    from { transform: rotate(0deg) translate(600px); }
    to { transform: rotate(360deg) translate(600px); }
}

@keyframes orb5 {
    from { transform: rotate(0deg) translate(750px); }
    to { transform: rotate(360deg) translate(750px); }
}

@keyframes orb6 {
    from { transform: rotate(0deg) translate(900px); }
    to { transform: rotate(360deg) translate(900px); }
}

@keyframes orb7 {
    from { transform: rotate(0deg) translate(1050px); }
    to { transform: rotate(360deg) translate(1050px); }
}
@keyframes orb8 {
    from { transform: rotate(0deg) translate(1030px); }
    to { transform: rotate(360deg) translate(1030px); }
}


.home{
    padding:18px;
    margin-top: 105px;
    height: 100vh;
    background-color: var(--font-color);
    background-color: #96bbff;
    color: var(--logo-color);
    width: 100%;    
}

.home-container, .about-container {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap;
    width: 100%;
    height: 100%; 
    box-sizing: border-box; 

}

.left, .right {
    flex: 1;
    margin: 0; 
    padding: 20px; 
    box-sizing: border-box;
}

.right{
    text-align: center;
}
.left{
    display: flex;
    flex-direction: column;
}


span{
    color: var(--main-font-color);
}
.name{
    font-size:1rem;
    color:var(--logo-color);
}
.text {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 3.0vw;
    font-weight: bold;
    color: var(--main-font-color);
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid var(--background-color);
    
    display: inline-block; 
    max-width: fit-content; 
    animation: typing 6s steps(30) infinite, blink 0.6s step-end infinite;
    
}

.text span {
    color: var(--font-color);
}

  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

.follow-icons{
    display: flex;
    align-items: self-start;
    

}

.con-mail{
    color:var(--logo-color);
    font-size: 1.2rem;
    
}
.mail, .conn{
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.set-icons-background-color{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:var(--logo-color);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    box-shadow: 0px 0px 2px 5px var(--font-color);
    
    
}
.ions-color{
    color:var(--ions-color);
}

.set-icons-background-color:hover{
    box-shadow: inset 0px 0px 2px 5px var(--main-font-color);
    
}

.hire-me{
    display: flex;
    justify-content: start;
}

.button1,.button2{
   height: 50px;
   width: 175px;
   border-radius:10px;
   font-size: 1rem;
   border: none;
   margin-top: 10px;
   margin-right: 20px;

   background-color:var(--main-font-color);
   font-weight: 600;
   letter-spacing: 1px;
   

}
.button1 a{
    text-decoration: none;
    color:var(--inside-button-color);
}
.button2{
    background-color: var(--logo-color);
    border: 2px solid var(--inside-button-color);
    color:var(--background-color);
}
.button1:hover{
    border: 2px solid var(--inside-button-color);
    transition: background-color 0.9s ease;
    background-color: var(--logo-color);
}
.button2:hover{
    background-color: var(--main-font-color);
    border: none;
    color: var(--logo-color);
    transition: background-color 0.9s ease;
}

@media (max-width:767px) {

    .hire-me {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .home-container{
        display: flex;
        box-sizing: border-box;
        flex-direction: column-reverse; 
       
    }
    .home-container, .left, .name, .my-name{
        font-size: 1.2rem;
    }
    .home-container, .left, .name, .text{
        font-size: 1.2rem;
    }

}



@media (max-width:767px) {
    .orbit1{
        display: none;
    }
}




 /* my image section  */

.image{
    height: 250px;
    width: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px var(--logo-color);
}
.image:hover{
    box-shadow: 0px 0px 5px 5px var(--main-font-color);
}

.left, .right {
    position: relative;
    transform: translateX(0); 
    opacity: 0; 
    animation-duration: 1s; 
    animation-fill-mode:forwards;
}
.left {
    animation-name: slide-in-left;
}
.right {
    animation-name: slide-in-right;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-100%); 
        opacity: 0;
    }
    100% {
        transform: translateX(0); 
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0); 
        opacity: 1;
    }
}








/* about me  section  */
.about{

    padding: 20px;
    overflow: auto;
    background-color:var(--background-color);
    background: linear-gradient(to right,var(--logo-color), var(--each-card-backgroundcolor));
    padding-bottom: 80px;
}
.about{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.about-headding, .skills-headding, .projects-headding,.contact-headding{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 30px;
    padding-top: 20px;
    color: var(--inside-button-color);
}

.about-headding h3 span{
    color: var(--main-font-color);
    padding-bottom: 30px;
}
.my-self-headding{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
    
}


.my-self-pera{
    font-weight: bold;
    color: var(--main-font-color);
    height: auto;
}
.right-2 img{
    height: auto;
    max-width: 60%;
}

.left-2,.right-2{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin:18px;
    background-color: var(--logo-color);
    box-shadow:inset 0px 0px 20px 2px var(--inside-button-color);
   border-radius: 20px;
}


.left-2{
    padding: 50px;
}

.right-2{
    padding:34px;
}

.left-2, .right-2{
    position: relative;
    transform: translatey(0); 
    opacity: 0; 
    animation-duration: 1s; 
    animation-fill-mode:forwards;
}

.left-2, .right-2{
    animation-name: top-to-bottom;
}


@keyframes top-to-bottom {
    0% {
        transform: translatey(-100%);
        opacity: 0;
    }
    100% {
        transform: translatey(0); 
        opacity: 1;
    }
}

/* second section  */

@media (max-width:767px){
    .about-container{
        box-sizing: border-box;
        flex-direction: column; 
        align-items: center;
    }
    .about{
        padding-bottom: 80px;
    }
}





/* skills  section */
.skills {
    height: auto; 
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
    box-sizing: border-box;
    margin-bottom: 10px;
}

.skills {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.box {
    aspect-ratio: 1; 
    background-color: var(--each-card-backgroundcolor); 
    display: flex;
    justify-content: center; 
    align-items: center;
    border: 1px solid #ccc;
}
.skills-headding i{
    color: var(--main-font-color);
}
.box img {
    height: 80%;
    transition: transform 0.3s ease;
    animation: popupY 1.5s infinite alternate ease-in-out;
}
.all-skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(172px, 1fr)); /* Dynamic equal-sized columns */
    gap: 10px; 
    padding: 20px;
    
}

.box:hover{
    transform:perspective(100px) translatez(10px);
    transition-duration: 2s;
    transition-timing-function: ease;
}

@keyframes popupY {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0); 
    }
}








/* section projects  */
.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}


.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--background-color);
    padding: 30px;
    margin: 10px;
    box-shadow: 0px 0px 2px 2px var(--background-co);
    border-radius: 20px;
    position: relative; 
    overflow: hidden; 
}

.project-name {
    color: var(--background-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    z-index: 2; 
    position: relative;
}

.project-img, .access {
    z-index: 2; 
    position: relative;
}

.box2::after {
    content: '';
    position: absolute;
    bottom: -100%; 
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: var(--logo-color);
    transition: bottom 0.4s ease; 
    z-index: 1; 
}

.box2:hover::after {
    bottom: 0; 
}


.access-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--background-color);
    font-weight: 580;
}

.access{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    background-color: var(--logo-color);
    height: 50px;
    width: 139px;
    border-radius: 10px;

    background: linear-gradient(to bottom, var(--logo-color), var(--main-font-color));

}

.rock-paper{
    padding: 42px;
}

.image2{
    height: 210px;
}
.image2-rock{
    height: 140px;
}

.projects {
    background: linear-gradient(to right, var(--main-font-color), var(--logo-color));
    padding: 50px;
    padding-top: 40px;
    padding-bottom: 60px;
    width: 100%; 
}






/* contact  */
.coontact-headding{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    
}
.show-img{
    height: 250px;
}

.show-img{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}


.mail-img{
    height: 340px;
}
.show-img:hover{
    background-color: var(--main-font-color);
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px var(--background-color);
}


.mail, .con{
    text-decoration: none;
    color: var(--logo-color);
}

.sending-information{
    height: 340px;
}

.sending-information{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.coontact-headding {
   display: flex;
   justify-content: space-evenly;
   padding-bottom: 30px;
}

.contact-headding h3 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--inside-button-color);
}

.contact-headding h3 span {
    color: var(--main-font-color);
}

.sending-information {
    background: var(--logo-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px 8px var(--each-card-backgroundcolor);
    
    
}
.sending-information:hover{
    background-color: var(--each-card-backgroundcolor);
    box-shadow: 0px 4px 15px 8px var(--main-font-color);
}

.send-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputs1 {
    display: flex;
    gap: 15px;
}

.inputs1 input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--font-color);
    background: var(--logo-color); 
    color: var(--main-font-color);
    font-size: 16px;
    width: 50%;
}
.inputs1 input::placeholder,
.textAreas textarea::placeholder {
    color: var(--main-font-color); 
    opacity: 2; 
}

.textAreas textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--font-color);
    background: var(--logo-color); 
    color: var(--main-font-color);
    font-size: 16px;
    resize: none;
}

button {
    background: var(--each-card-backgroundcolor);
    color: var(--logo-color);
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: var(--ions-color);
}


@media (max-width:843px) {
    .sending-information{
        margin-top: 90px;
    }
}



/* footer  */
footer{
    
    height: 30vh;
}

.footer-container {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 10%;
}
@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--inside-button-color);
}
.set-background-icons{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:var(--main-font-color);
    margin: 3px;
}
.set-background-icons:hover{
    box-shadow: 0px 0px 5px 5px var(--each-card-backgroundcolor);
}
.follow-icons{
    display: flex;
    color: var(--logo-color);
}
.follow-me h1{
    color: var(--logo-color);
}

.con-mail{
    color: var(--logo-color);
    font-size: 1.2rem;
}
.mail, .conn{
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.box4{
    margin: 20px;
}
.one{
    color: var(--logo-color);
}
.one:hover{
    color:var(--logo-color);
}

.bottom-fot{
    background-color: var(--inside-button-color);
    padding: 1px 0;
    font-size: 14px;
}

.bottom-fot hr {
    margin: 0 auto;
    width: 90%;
}
.bottom-fot p {
    color: var(--logo-color);
    margin: 10px 0;
    font-family: Arial, sans-serif;
}






@media (max-width:767px) {
    .projects {
        background: linear-gradient(to bottom, #ede7e2, #FF8A00);

    }
}

@media (max-width:767px) {
    .left-2{
        padding: 30px;
    }
}


